<div class="row justify-content-center">
    <div class="col-12">
        <p class="text-center">
            <b>График</b><br> капитальных и продолжительных ремонтов основных металлургических агрегатов ОАО ММК в {{title}} г.
        </p>
    </div>
    <div class="col-12 bigTable">
        <table class="table-decada table table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2">Цех</th>
                    <th rowspan="2">Агрегат</th>
                    <th colspan="36" class="text-center">{{title}}</th>
                    <th rowspan="2">Итого, сут.</th>
                </tr>
                <tr class="monthes text-center">
                    <th *ngFor="let m of monthes" (click)="showPOList(m.mon)" colspan="3" data-toggle="modal" data-target="#exampleModal">{{m.num}}</th>
                <tr>
            </thead>
            <tbody *ngIf="!emptyData">
                <tr *ngFor="let row of CurrentData">
                    <td>{{row.organization_name}}</td>
                    <td>{{row.instance_description}}</td>
                    <td *ngFor="let cell of row.decadas" (click)="showPOList(cell.tarM, cell.tarD, row.instance_number)" class="{{cell.class}} dec align-middle text-center" data-toggle="modal" data-target="#exampleModal">{{cell.val}}</td>
                    <td class="align-middle text-center">{{row.sum}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="emptyData">
                <tr><td colspan="42" class="text-center"><div class="loader"></div>Подождите, идёт загрузка данных.</td></tr>
            </tbody>
        </table>
    </div>
    <div class="w-100 row justify-content-center">
        <div class="col-12">Получено {{currentCount}} строк из {{totalCount}}</div>
        <button class="btn btn-sm btn-info mb-3 mt-3 col-2" #fetchBtn (click)="fetchData()"><i class="fab fa-rev"></i> загрузить ещё</button>
        <div class="form-group col-2">
            <label>Количество строк:</label>
            <select class="form-control" [(ngModel)]="needCount">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="{{totalCount - currentCount}}">Все</option>
            </select>
        </div>
        <div class="loader loader-mini d-none" #mimiLoader></div>
        <ng-template [ngIf]="warn"><div class="col-12 text-center"><span class="badge badge-warning">Активирован фильтр. Данные могут быть выведены не в полном объёме</span></div></ng-template>
    </div>
</div>
<!-- Modal -->
<polist-comp [title]="modalData.title" [poList]="modalData.porders" [emptyModal]="emptyModal" (onSaved)="getData(title)"></polist-comp>

