<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog custom_modal_size" role="document">
        <div class="modal-content" style="overflow-x: auto;">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel">{{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-stripped table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>ЗВР</th>
                            <th>Агрегат</th>
                            <th>Статус</th>
                            <th>Тип-я</th>
                            <th>Кат. простоя</th>
                            <th>Тип простоя</th>
                            <th>Код простоя</th>
                            <th>Начало</th>
                            <th>Завершение</th>
                            <th>Продолж., ч.</th>
                            <th><i class="fab fa-android"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-template [ngIf]="!emptyModal" [ngIfElse]="modalloader">
                            <tr *ngFor="let po of _plist">
                                <ng-template [ngIf]="currentPO?.entity_id != po.entity_id" [ngIfElse]="edit">
                                    <td class="align-middle">{{po.entity_name}}</td>
                                    <td class="align-middle">{{po.inst_desc}}</td>
                                    <td class="align-middle">{{po.work_order_type}}</td>
                                    <td class="align-middle">{{po.typology}}</td>
                                    <td class="align-middle">{{po.idle_cat}}</td>
                                    <td class="align-middle">{{po.idle_type}}</td>
                                    <td class="align-middle">{{po.idle_code}}</td>
                                    <td class="align-middle">{{po.start}}</td>
                                    <td class="align-middle">{{po.complete}}</td>
                                    <td class="align-middle">{{po.hours}}</td>
                                    <td class="align-middle">
                                        <button class="btn btn-primary" (click)="editPO(po)"><i class="fas fa-pen"></i></button>
                                        <button class="btn btn-info" (click)="openForm(po.org_id, po.entity_id)"><i class="fas fa-table"></i></button>
                                    </td>
                                </ng-template>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<ng-template #edit>
    <td> {{ currentPO.entity_name}}</td>
    <td> {{ currentPO.inst_desc }}</td>
    <td>
        <select class="form-control" [(ngModel)]="currentPO.status_type">
            <option value="17">проект</option>
            <option value="1">не выпущено</option>
            <option value="3">выпущено</option>
            <option value="4">завершено</option>
            <option value="5">завершено без расхода</option>
            <option value="6">заблокировано</option>
            <option value="7">отменено</option>
            <option value="12">закрыто</option>
            <option value="15">сбой при закрытии</option>
        </select>
    </td>
    <td> {{ currentPO.typology }}</td>
    <td class="align-middle">{{currentPO.idle_cat}}</td>
    <td class="align-middle">{{currentPO.idle_type}}</td>
    <td class="align-middle">{{currentPO.idle_code}}</td>
    <td>
        <div class="form-group" id="chngStart" #target>
            <input type="text" style="min-width: 180px;" [(ngModel)]="currentPO.start" on-input="updateComplete($event)" id="curStart" class="form-control" (click)="toogleCalendar()">
            <div #startCal class="calendBlock d-none">
                <div class="card-body">
                    <div class="w-100">
                        <button type="button" class="close pull-right mb-3" data-toggle="collapse" data-target="#startCal" aria-expanded="false" aria-controls="startCal">
                            <span class="closeBtn" aria-hidden="true" (click)="toogleCalendar()">&times; </span>
                        </button>
                    </div>
                    <ngb-datepicker #d
                                    [footerTemplate]="t"
                                    [navigation]="arrows"
                                    [(ngModel)]="model"
                                    [startDate]="startCalDay"
                                    (navigate)="startCalDay = $event.next"></ngb-datepicker>
                </div>
            </div>
        </div>
    </td>
    <td>
        {{ currentPO.complete }}
        <div class="loader loader-mini d-none float-left" #loader></div>
    </td>
    <td>
        <div class="form-group">
            <input type="number" [(ngModel)]="currentPO.hours" on-input="updateComplete($event)" id="curHours" class="form-control" />
        </div>
    </td>
    <td>
        <button class="btn btn-success" (click)="save()"> <i class="fas fa-save"> </i></button>
        <button class="btn btn-secondary" (click)="cancel()"> <i class="fas fa-ban"> </i></button>
    </td>
</ng-template>

<ng-template #t>
    <div class="w-100 px-5 dpicker-footer"><ngb-timepicker [(ngModel)]="tmpDT" [minuteStep]="10"></ngb-timepicker></div>
    <div class="w-100 text-center mb-3 dpicker-footer">
        <div class="btn-group">
            <button (click)="setDate()" type="button" class="btn btn-success" title="Сохранить" data-toggle="collapse" data-target="#startCal" aria-expanded="false" aria-controls="startCal">
                <i class="fas fa-calendar-check"></i>
                <span class="d-none d-sm-inline"> Ok</span>
            </button>
            <button (click)="cancelDate()" type="button" class="btn btn-secondary" title="Отмена" data-toggle="collapse" data-target="#startCal" aria-expanded="false" aria-controls="startCal">
                <i class="fas fa-thumbs-down"></i>
                <span class="d-none d-sm-inline"> Отмена</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #modalloader>
    <tr><td colspan="11" class="text-center"><div class="loader"></div><br>Подождите, идёт загрузка данных.</td></tr>
</ng-template>