<ng-template [ngIf]="logged">
    <div class="w-100 filter-box" id="flt-box">
        <div class="col-12"><filter-box></filter-box></div>
    </div>
    <div class="w-100">
        <button class="toggler-flt float-left d-none" #showflt (click)="tootgleFlt()"><i class="fas fa-eye"></i></button>
        <button class="toggler-flt float-left" #hideflt (click)="tootgleFlt()"><i class="fas fa-eye-slash"></i></button>
    </div>
    <div class="container-fluid workspace" *ngIf="filter.ready">
        <div class="pt-3" [ngSwitch]="filter.form">
            <ng-template ngSwitchCase="mon"><month-app></month-app></ng-template>
            <ng-template ngSwitchCase="week"><week-app></week-app></ng-template>
            <ng-template ngSwitchCase="year"><year-app></year-app></ng-template>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="!logged">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="alert alert-primary">
                    <h4>Авторизация</h4>
                    <div class="form-group">
                        <label>Пользователь</label>
                        <input type="text" [(ngModel)]="login" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" [(ngModel)]="password" class="form-control">
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-success" (click)="signIn()" #btnSingIn>Войти</button>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="alert alert-success row justify-content-center d-none" #succ>
                    <div class="loader loader-mini"></div>
                    <div class="col-12 h6 text-center">Авторизация успешна. Идёт загрузка приложения</div>
                </div>
                <div class="alert alert-danger row justify-content-center d-none" #dang>
                    <div class="col-12 h6 text-center">Неверные имя пользователя и/или пароль!</div>
                </div>
                <div class="alert alert-info row justify-content-center d-none" #info>
                    <div class="loader loader-mini"></div>
                    <div class="col-12 h6 text-center">Ожидайте. Идёт загрузка приложения.</div>
                </div>
                <div class="alert alert-warning row justify-content-center" #warn>
                    <div class="loader loader-mini"></div>
                    <div class="col-12 h6 text-center">Проверка учётных данных.</div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!------------------>
<createwo-comp (onSaved)="updateFilter()"></createwo-comp>