<div class="row">
    <!-- for medium width devices -->
    <div class="w-100">
        <div class="row">
            <div class="col-12">
                <span class="h5 float-left">Фильтры</span>
            </div>
            <div class="col-6">
                <div class="form-group row mb-3">
                    <label class="col-2">Плановик</label>
                    <select class="custom-select col-10" [(ngModel)]="filterTotal.planner" (change)="chg($event, 'planner')">
                        <option selected value="%">Вce...</option>
                        <option value="40">Агрегатный график ОМА</option>
                        <option value="70">Агрегатный график ОЭО</option>
                    </select>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-2">Период</label>
                    <select class="custom-select col-10" [(ngModel)]="filterTotal.form" (change)="chg($event, 'form')">
                        <option selected value="week">Неделя</option>
                        <option value="mon">Месяц</option>
                        <option value="year">Год</option>
                    </select>
                </div>
                <div class="form-group row mb-3">
                    <select class="custom-select col-4" [(ngModel)]="filterTotal.period.year" (change)="chg($event, 'year')">
                        <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                    </select>
                    <select class="custom-select col-4" [(ngModel)]="filterTotal.period.month" (change)="chg($event, 'mon')">
                        <option *ngFor="let mon of monthes" value="{{mon.num}}">{{mon.name}}</option>
                    </select>
                    <select class="custom-select col-4" [(ngModel)]="filterTotal.period.day" (change)="chg($event, 'day')">
                        <option *ngFor="let day of days" value="{{day.num}}">{{day.name}}</option>
                    </select>
                </div>
                <div class="col-12">
                    <span class="badge badge-info">Найдено {{cnt}} строк</span>
                    <div class="loader loader-mini d-none float-left" #loader></div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row mb-3">
                    <label class="col-1">Цех</label>
                    <ngx-select-dropdown class="col-11"
                                         [config]="conf_org"
                                         [options]="organizations"
                                         [multiple]="true"
                                         (change)="chg($event, 'org')"></ngx-select-dropdown>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-2">Агрегаты</label>
                    <ngx-select-dropdown class="col-10"
                                         [config]="conf_agr"
                                         [options]="agregates"
                                         [multiple]="true"
                                         (change)="chg($event, 'agr')"></ngx-select-dropdown>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-3">Вид ремонта</label>
                    <ngx-select-dropdown class="col-9"
                                         [config]="conf_wt"
                                         [options]="wtypes"
                                         [multiple]="true"
                                         (change)="chg($event, 'wt')"></ngx-select-dropdown>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-1">Статус</label>
                    <ngx-select-dropdown class="col-11"
                                         [config]="conf_stat"
                                         [options]="stats"
                                         [multiple]="true"
                                         (change)="chg($event, 'stat')"></ngx-select-dropdown>
                </div>
            </div>
        </div>
    </div>
</div>