<div class="row">
    <!-- for small width devices -->
    <div class="d-block d-sm-none card w-100">
        <div class="bg-info text-white text-center collapsed card-header w-100" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            <h5 class="align-middle"><i class="fas fa-align-justify"></i> Фильтры и настройки <i class="fas fa-chevron-down"></i></h5>
        </div>
        <div class="collapse" id="collapseFilter">
            <div class="card-body">
                <h5>Фильтры</h5>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Цеха</label>
                    </div>
                    <select class="custom-select" name="filterTotal.org_filter" [(ngModel)]="filterTotal.org_filter" (change)="inp('area')">
                        <option selected value="">Вce...</option>
                        <option *ngFor="let area of organizations" value="{{area.ORGANIZATION_ID}}">{{area.ORGANIZATION_NAME}}</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Агрегаты</label>
                    </div>
                    <select class="custom-select" name="agr_filter" [(ngModel)]="filterTotal.agr_filter" (change)="inp('agr')">
                        <option selected value="">Вce...</option>
                        <option *ngFor="let agr of agregates" value="{{agr.INSTANCE_NUMBER}}">{{agr.INSTANCE_NUMBER}}</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Вид ремонта</label>
                    </div>
                    <select class="custom-select" name="wt_filter" [(ngModel)]="filterTotal.wt_filter" (change)="inp()">
                        <option selected value="">Вce...</option>
                        <option *ngFor="let tw of routing_sequences" value="{{tw}}">{{tw}}</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Плановик</label>
                    </div>
                    <select class="custom-select" name="planner_filter" [(ngModel)]="filterTotal.planner_filter" (change)="inp()">
                        <option selected value="">Вce...</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <!-- for medium width devices -->
    <div class="d-none d-sm-block w-100">
        <div class="row">
            <div class="col-12"><h5>Фильтры</h5></div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Цех</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filterTotal.org_filter" (change)="inp('area')">
                        <option value="" selected>Все цеха..</option>
                        <option *ngFor="let area of organizations" value="{{area.ORGANIZATION_ID}}">{{area.ORGANIZATION_NAME}}</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Агрегаты</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="filterTotal.agr_filter" (change)="inp('agr')">
                        <option selected value="">Вce...</option>
                        <option *ngFor="let agr of agregates" value="{{agr.INSTANCE_NUMBER}}">{{agr.INSTANCE_NUMBER}}</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Вид ремонта</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="filterTotal.wt_filter" (change)="inp()">
                        <option selected value="">Вce...</option>
                        <option *ngFor="let tw of routing_sequences" value="{{tw}}">{{tw}}</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Плановик</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="filterTotal.planner_filter" (change)="inp()">
                        <option selected value="">Вce...</option>
                        <option value="40">Агрегатный график ОМА</option>
                        <option value="70">Агрегатный график ОЭО</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>